h1 {
    height: 40px;
    width: 600px;
    position: relative;
    left: 775px;
    
    font-family: "Lucida Console", Courier, monospace;
    color: #7347ed;
    text-decoration: underline;
    margin-top: 20px;
}
body {
    background-color: black;
}

label {
    color: #7347ed;
    font-family: "Lucida Console", Courier, monospace;
}
input {
    background-color: #7347ed;
    border-color: #7347ed
    
}
button {
    position: relative;
    left: 200px;
    background-color: #7347ed;
    border-color: #7347ed;
    color: white;
    font-family: "Lucida Console", Courier, monospace;
    align-content: center;
    width: 200px;
    height: 30px;
}

#inputs {
    width: 400px;
    align-content: center;
    display:flex;
    position: fixed;
    left: auto;
    top: auto;

}

#alignSketch{
    height: 800px;
    width: 800px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: auto;
    top: auto;
    left: 600px;
    right: auto;
    border-color: #7347ed;
    border-width: 3px;
    border-style: solid;
}

#sketchContain {
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat (16, 1fr);
    grid-template-rows: repeat (16, 1fr);
    justify-content: stretch;
    position: relative;
      

    
    
}


.squareContain {   
    height: auto;
    width: auto;
    background-color: grey;
    

}
.squareReleased {

    height: auto;
    width: auto;
    
}
