h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Console", Courier, monospace;
    color: #7347ed;
    text-decoration: underline;
    margin-top: 40px;
}
body {
    background-color: black;
}

#alignSketch{
    height:auto;
    width: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 500px;
    top: 300px;
    left: 300px;
    right: 300px;
}

#sketchContain {
    height: 430px;
    width: 430px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 2px 2px;
    
    overflow: hidden;
}


.squareContain {   
    height: 25px;
    width: 25px;
    background-color: #7347ed;
    

}
.squareReleased {

    height: 25px;
    width: 25px;
    background-color: black;
}
